.ChipArrayInput div.chipContainer {
  min-height: unset;
  margin-top: 16px;
  display: inline-flex;
  overflow: scroll;
}

.ChipArrayInput .chip {
  height: 26px;
  margin-right: 4px;
}

.ChipArrayInput .chip span {
  padding: 0 9px 0 8px;
}

.ChipArrayInput .chip svg {
  margin-right: 2px;
}

/* hide unwanted scrollbar in chip container */
.ChipArrayInput .chipContainer::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.ChipArrayInput .label {
  top: 0;
}
