/* hide unwanted scrollbar in chip container */
.GenreField .chipContainer::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.GenreField.MuiChipsInput-TextField .MuiInputBase-root {
  flex-wrap: nowrap;
}
