.Header {
  position: relative;
  background-color: #222;
  padding: 1rem;
  color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo-title search buttons";
  align-items: center;
  gap: 1rem;
}

.Header .Header-logoAndTitle {
  display: flex;
  align-items: center;
  grid-area: logo-title;
  gap: 0.3rem;
}

.Header .Header-logoButton {
  grid-area: logo;
  position: static;
  height: 34px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.Header-logo {
  height: 100%;
}

.Header-title {
  grid-area: title;
  height: 30px;
}

.Header-buttons {
  grid-area: buttons;
}

.Header button {
  height: 32px;
  width: 32px;
  font-size: 1.2rem;
  color: #666;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.Header button:hover {
  color: #fff;
}

.Header .SearchField {
  grid-area: search;
}

@media only screen and (max-width: 640px) {
  .Header {
    grid-template-columns: 40px 1fr 64px;
    grid-template-areas:
      "logo-title logo-title buttons"
      "search search search";
    grid-row-gap: 0.5rem;
  }
  .Header-logo {
    transform: none;
  }
  .Header-title {
    width: unset;
    left: 0;
    padding-left: 0;
  }
  .Header .SearchField {
    margin-right: 0;
  }
}
