.MuiPaper-root.ItemTable-paper {
  /* full height - header - top padding - footer */
  max-height: calc(100vh - 75px - 1rem - 1.5rem);
  overflow-y: auto;
  background: #222222;
}
.ItemTable-paper::-webkit-scrollbar {
  background: #222222;
  border-radius: 100px;
  width: 10px;
}
.ItemTable-paper::-webkit-scrollbar-thumb {
  background: #393939;
  border-radius: 100px;
  border: 2px solid #222222;
}

.ItemTable td,
.ItemTable th {
  font-size: 1.05rem;
  font-weight: 100;
}

.ItemTable-head tr {
  background: #222222;
  position: sticky;
  top: 0;
  z-index: 1;
}
.ItemTable-head tr th {
  padding: 4px 6px;
}

.ItemTable-head th {
  color: #888;
  font-size: 0.8rem;
  font-weight: 100;
}

.ItemTable-body tr {
  background: #393939;
}
.ItemTable-body tr:hover {
  background: #fff1;
}

.ItemTable td,
.ItemTable td:last-child {
  padding: 8px 6px;
}

.ItemTable .ItemTable-skinny-col {
  width: 1px;
}

.ItemTable td:has(.ItemIcon) {
  font-size: 0;
}

.ItemTable .ItemIcon svg {
  font-size: 1.6rem;
  color: #ccc;
}

@media only screen and (max-width: 640px) {
  .Home .ItemTable-paper {
    /* full height - collapsed header (no padding, no footer) */
    max-height: calc(100vh - 125px);
    border-radius: 0;
  }
  .MuiPaper-root.ItemTable-paper {
    border-top: 2px solid #313131;
    background: #313131;
  }
  .ItemTable-paper::-webkit-scrollbar {
    background: #313131;
  }
  .ItemTable-paper::-webkit-scrollbar-thumb {
    background: #414141;
    border: 2px solid #313131;
  }
  .ItemTable-head tr {
    background: #313131;
  }
}
