.ItemTable-paper {
  /* full height - header - top padding - footer */
  max-height: calc(100vh - 75px - 1rem - 1.5rem);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.ItemTable-paper::-webkit-scrollbar {
  background: #393939;
  border-radius: 100px;
  width: 10px;
}
.ItemTable-paper::-webkit-scrollbar-thumb {
  background: #515151;
  border-radius: 100px;
  border: 2px solid #393939;
}

.ItemTable td,
.ItemTable th {
  font-size: 1rem;
  font-weight: 100;
}

.ItemTable-head tr th {
  padding: 0;
}

.ItemTable-head th,
.ItemTable-fixedHeaderCell {
  color: #888;
  font-size: 0.8rem;
  font-weight: 100;
}

.ItemTable tr:hover {
  background: #fff1;
}

.ItemTable td,
.ItemTable td:last-child,
.ItemTable-fixedHeaderCell {
  padding: 6px 4px;
}

.ItemTable .ItemTable-skinny-col {
  width: 1px;
}

.ItemTable .ItemIcon {
  font-size: 1.6rem;
}

.ItemTable-fixedHeader {
  position: absolute;
  left: 1rem;
  right: 1rem;
  height: 24px;
  white-space: nowrap;
  background: #222222;
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid #1a1a1a;
  overflow: hidden;
}

.ItemTable-fixedHeaderCell {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 0.3rem;
  color: #fff6;
}

.ItemTable-fixedHeaderShadow {
  position: absolute;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(to bottom, #000f 0%, #000b 5%, #0004 30%, transparent 100%);
  bottom: -30px;
  opacity: 0.4;
  pointer-events: none;
}

@media only screen and (max-width: 640px) {
  .Home .ItemTable-paper {
    /* full height - collapsed header (no padding, no footer) */
    max-height: calc(100vh - 125px);
    border-radius: 0;
  }
  .Home .ItemTable-fixedHeader {
    display: none;
  }
}
