.ItemTable-paper {
  /* full height - header - top padding - footer */
  max-height: calc(100vh - 75px - 1rem - 1.5rem);
}
.ItemTable-paper::-webkit-scrollbar {
  background: #393939;
  border-radius: 100px;
  width: 10px;
}
.ItemTable-paper::-webkit-scrollbar-thumb {
  background: #515151;
  border-radius: 100px;
  border: 2px solid #393939;
}

.ItemTable-virtualContainer {
  overflow: auto;
  position: relative;
  height: 800px;
}

.ItemTable td {
  font-size: 1.05rem;
  font-weight: 100;
  overflow-wrap: anywhere;
}

.ItemTable-head {
  display: grid;
  position: sticky;
  background: #222222;
  top: 0;
  z-index: 1;
}

.ItemTable-head th {
  color: #888;
  font-size: 0.8rem;
  font-weight: 100;
  border: none;
  padding: 2px 6px;
}

.ItemTable-head tr {
  display: flex;
}

.ItemTable tbody {
  display: grid;
  position: relative;
}

.ItemTable tr {
  display: flex;
}

.ItemTable tr:hover {
  background: #fff1;
}

.ItemTable td,
.ItemTable td:last-child {
  padding: 8px 6px;
}

.ItemTable .ItemTable-skinny-col {
  width: 1px;
}

.ItemTable td:has(.ItemIcon) {
  font-size: 0;
}

.ItemTable .ItemIcon svg {
  font-size: 1.6rem;
  color: #ccc;
}

.Home .ItemTable-row {
  display: flex;
  position: absolute;
  width: 100%;
}
/* bugfix: sometimes the transform is not yet set on a new row, so it display over the first item */
.Home .ItemTable-row:not(.transform-set) {
  display: none;
}
.Home .ItemTable-row.current {
  animation: show-current 1000ms ease-out 1;
}

@keyframes show-current {
  0% {
    background: #00a9ff;
  }
  100% {
    background: inherit;
  }
}

@media only screen and (max-width: 640px) {
  .Home .ItemTable-paper {
    /* full height - collapsed header (no padding, no footer) */
    max-height: calc(100vh - 125px);
    border-radius: 0;
  }
  .Home .ItemTable-row .title {
    font-weight: 600;
    font-size: 1.2rem;
  }
}
