.ItemDetails-label {
  color: #888;
  font-size: 0.75rem;
}

.ItemDetails-value {
  color: #fff;
  margin-bottom: 1rem;
}

.ItemDetails-value:last-child {
  margin-bottom: 0;
}

.ItemDetails-title.ItemDetails-value {
  font-size: 1.5rem;
  font-weight: 600;
}

.ItemDetails-grid {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-gap: 1rem;
}

.ItemDetails a,
.ItemDetails a:visited {
  color: #00a9ff;
  margin-right: 1rem;
}

.ItemDetails .nolink {
  color: #fff8;
  margin-right: 1rem;
}

.ItemDetails a:hover {
  color: #fff;
}

.ItemDetails .ItemDetails-button {
  text-transform: none;
  padding: 8px;
}

.ItemDetails-sidebar .ItemDetails-button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 8px 4px;
}

@media only screen and (max-width: 640px) {
  .ItemDetails-grid {
    grid-template-columns: 1fr;
  }
  .ItemDetails-links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .ItemDetails-links a {
    margin-bottom: 1rem;
  }
}
