.ItemRow.current {
  animation: show-current 1300ms ease-out 1;
}

@keyframes show-current {
  0% {
    background: #00a9ff;
  }
  20% {
    background: #00a9ff;
  }
  100% {
    background: #393939;
  }
}

i.ItemIcon.movie {
  line-height: 1.5;
}

i.ItemIcon.show {
  line-height: 1;
}

@media only screen and (max-width: 640px) {
  .ItemRow .title {
    font-weight: 600;
    font-size: 1.2rem;
  }
}
