.Poster {
  position: relative;
  background-color: #666;
  min-height: 150px;
  min-width: 150px;
  border-radius: 4px;
  overflow: hidden;
}

.Poster .Poster-fallback {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  zoom: 2;
  font-size: 0;
}

.Poster .Poster-fallback svg {
  font-size: 1.5rem;
}

.Poster .Poster-image {
  display: block;
  position: relative;
  width: 150px;
}
.Poster .Poster-image.failed {
  opacity: 0;
}

.Poster .Poster-search {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  display: none;
}

.Poster:hover .Poster-search,
.Poster .Poster-search.progress {
  display: block;
}

@media only screen and (max-width: 640px) {
  .Poster {
    width: fit-content;
    margin: 0 auto;
  }
}
