.Poster {
  position: relative;
  background-color: #666;
  min-height: 150px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.Poster .Poster-fallback {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.05;
  zoom: 2;
  font-size: 0;
}

.Poster .Poster-image {
  display: block;
  position: relative;
  width: 150px;
}
.Poster .Poster-image.failed {
  opacity: 0;
}

.Poster .Poster-search {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  display: none;
}

.Poster:hover .Poster-search,
.Poster .Poster-search.progress {
  display: block;
}
