.SearchField {
  position: relative;
  background: #fff1;
  border-radius: 4px;
}

.SearchField .SearchField-input {
  font-size: 1.5rem;
}

.SearchField-input input::selection {
  background: #0084ffab;
}

.SearchField-input svg {
  margin-left: 0.5rem;
  font-size: 2.2rem;
}

.SearchField-input input,
.SearchField-input svg {
  color: #fff2;
  transform: translateY(1px);
}
.SearchField-input.focused input,
.SearchField-input.focused svg {
  color: #fff;
}

.SearchField.not-empty input,
.SearchField.not-empty svg {
  color: #00a9ff;
}

.SearchField-words {
  position: absolute;
  height: 20px;
  font-size: 1.5rem;
  top: 7px;
  left: 51px;
  right: 0;
  color: transparent;
  pointer-events: none;
}

.SearchField-words span {
  margin-right: 0.36rem;
}

.SearchField-keyword {
  color: #0062ff;
  text-shadow: 0 0 1px currentColor, 0 0 1px currentColor, 0 0 1px currentColor,
    0 0 2px currentColor, 0 0 2px currentColor, 0 0 3px currentColor, 0 0 5px currentColor,
    0 0 8px currentColor;
}
