.Spinner-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: #1a1a1a;
}

.Spinner-svg {
  width: 6rem;
  height: 6rem;
  opacity: 0.8;
}
