.StateLabel-progress {
  color: hsl(300, 100%, 60%);
}

.StateLabel-ready {
  color: hsl(120, 100%, 60%);
}

.StateLabel-recheck {
  color: hsl(40, 100%, 60%);
}

.StateLabel-waiting {
  color: hsl(200, 100%, 60%);
}

.StateLabel-finished {
  color: hsla(0, 0%, 53%);
}

.StateLabel-quit {
  color: hsl(0, 80%, 50%);
}

.StateLabel .bold {
  font-weight: 600;
}
