@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Thin.ttf");
  font-weight: 100;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Medium.ttf");
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: "Material Icons";
  src: url("/Material-Icons.woff2");
  font-display: block;
}

body {
  overscroll-behavior: none;
}

.material-icons {
  font-family: "Material Icons";
  font-style: normal;
}

.App main {
  padding: 1rem 1rem 0 1rem;
}

@media only screen and (max-width: 640px) {
  .App main {
    padding: 0;
    border-radius: 0;
  }
}
