/*
These are just fixing the ChipInput's different height relative to the normal material TextField's.
That's why I'm using px sizes and !important.
*/

.GenreField>div {
    min-height: unset;
    margin-top: 16px !important;
    display: inline-flex;
    display: inline-flex;
    overflow: scroll;
}

.GenreField div[role="button"] {
    height: 26px;
}
