.Header {
    background-color: #222;
    padding: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.Header-left {
    grid-column: 1;
}

.Header-right {
    grid-column: 2;
}

.Header-title {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}

.Header-subtitle {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 100;
}
