.Home-footer {
    font-size: 0.8rem;
    opacity: 0.2;
    padding: 0.4rem 0.4rem 0 0.4rem;
    height: 1.5rem;
    box-sizing: border-box;
    overflow-y: hidden;
}

.Home-footer span:last-child {
    float: right;
}


