.ItemDetails {
    border-bottom: 1px solid red;
}

.ItemDetails-label {
    color: #888;
    font-size: 0.75rem;
}
.ItemDetails-value {
    color: #FFF;
    margin-bottom: 0.5rem;
}

.ItemDetails-title.ItemDetails-value {
    font-size: 1.5rem;
    font-weight: 600;
}

.ItemDetails-state.ItemDetails-value {
    margin-bottom: 0.5rem;
    color: lime;
    font-weight: 600;
}

.ItemDetails-grid {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: 1rem;
}

.ItemDetails-sidebar .ItemDetails-button {
    width: 100%;
    margin-top: 0.5rem;
}
