.ItemTable td,
.ItemTable th {
    font-size: 1rem;
    font-weight: 100;
}

.ItemTable-head tr {
  height: 0;
}

.ItemTable-head th {
  color: #888;
  font-size: 0.8rem;
  font-weight: 300;
}

.ItemTable th,
.ItemTable td,
.ItemTable td:last-child {
  padding-left: 4px;
  padding-right: 4px;
}

.ItemTable .ItemTable-skinny-col {
  width: 1px;
}
