.ScrapeButton.hidden {
    display: none;
}

.ScrapeButton svg {
    filter: drop-shadow(0 0 3px #0008);
}

.ScrapeButton.progress {
    color: #00a9ff;
    pointer-events: none;
    animation: progress 0.6s infinite alternate ease-out;
}

@keyframes progress {
    0%   { opacity: 0.2; transform: scale(0.8); }
    100% { opacity: 1.0; transform: scale(1.0); }
}
