.SearchField {
  background: #FFF1;
  border-radius: 4px;
}

.SearchField-input i {
  margin-left: 0.5rem;
  font-size: 2.2rem;
}

.SearchField-input input,
.SearchField-input i {
  color: #FFF2;
  transform: translateY(1px);
}
.SearchField-input.focused input,
.SearchField-input.focused i {
  color: #FFF;
}

.SearchField.not-empty input,
.SearchField.not-empty i {
  color: #00a9ff;
}
