.StateLabel-progress {
  color: hsl(300, 100%, 60%);
}

.StateLabel-ready {
  color: hsl(120, 100%, 60%);
}

.StateLabel-recheck {
  color: hsl(40, 100%, 60%);
}

.StateLabel-waiting {
  color: hsl(200, 100%, 60%);
}

.StateLabel-finished {
  color: #888;
}

.StateLabel .bold {
  font-weight: 600;
}